doctype
html(lang='en')
  head
    include includes/header.pug
    link(rel='stylesheet', href='/css/index.css')
  body
    include includes/navbar.pug
    .jumbotron.text-center.bg-transparent
      h1(style='color:white') Invalid
      p(style='color:white') The best discord bot for your fivem server.
        i.fas.fa-star.pl-2
      a.btn.btn-dark(href='/invite') Add